docs/
lung_function/scripts/results/
lung_function/scripts/mlruns/
lung_function/results_archive/
lung_function/modules/__pycache__/
*.pyc
.neptune/
.idea/
.vscode/
*.db
*.db-jornal*
*.csv
*.mha
*.mhd
*.nii.gz
*.nrrd
*.nii